@import 'variables';  

.library-course {
    display: grid;
    grid-template-columns: 1fr 45px 58px;
    grid-template-rows: 32px 1fr;

    align-items: center;
    z-index: 50;

    margin-right: 10px;
    
    &-title-wrp {
        grid-row: 1/2;
        display: flex;
        grid-column: 1/2;
    }
    &-arrow {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    &-action {
        opacity: 0;
        transition: all .3s ease;
        grid-row: 1/2;
        grid-column: 3/4;
        justify-self: center;
    }
    &-description {
        padding-top: 24px;
        grid-row: 2/3;
        grid-column: 1/-1;
    }
}

@mixin klasses-options{
    background-color:#fafafa;
    box-shadow: 0 2px 50px 0 rgba(0,0,0,0.21);
} 

.library-course-selected {
    @include klasses-options();
}

.library-course {
    padding: 12px 0;
    padding-left: 25px;

    &:hover{
        @include klasses-options();
        .library-course-action {
            opacity: 1;
        }
    }

    &-title{
        color:gray;
        font-family: 'Karla', sans-serif;
        font-weight: 700;
        font-size: 20px;
    }

    &-icon{
        color: $color-living-coral;
        padding-left: 16px;
        font-size: 20px;
    }    

    &-description {
        border-top: 1px solid #f1f1f1;
        
        
        label {
            color: $color-green;
            font-family: 'Karla', sans-serif;
            font-size: 16px;
            text-align: center;


        }

        p {
            color: $color-gray;
            font-family: 'Karla', sans-serif;
            font-size: 14px;

        }
    }
}

.library-course-selected{
    @include klasses-options();
}