@import 'variables';  

@mixin klasses-options{
    background-color:#fafafa;
    box-shadow: 0 2px 50px 0 rgba(0,0,0,0.21);
}   

.library-course {
    display: grid;
    grid-template-columns: 1fr 45px 58px;
    grid-template-rows: 32px 1fr;
    padding: 12px 0;
    padding-left: 25px;
    padding-bottom: 0px;
    align-items: center;

    z-index: 50;
    
    
    &:hover{
        @include klasses-options();
    }

   &-title-wrp{
        grid-row: 1/2;
        display: flex;
        grid-column: 1/2;
         
    }

    &-title{
        color:gray;
        font-family: 'Karla', sans-serif;
        font-weight: 700;
        font-size: 20px;
             
    }

    &-icon{
        font-size: 20px;
        line-height: 36px;
        color: $color-living-coral;
        padding-left: 16px;
    }
    
    &-arrow{
        grid-row: 1/2;
        grid-column: 2/3;
       
    }
    
    &-action{
        grid-row: 1/2;
        grid-column: 3/4;

        justify-self: center;
  
    }

    &-description {
        grid-row: 2/3;
        padding-top: 15px;
        border-top: 1px solid #f1f1f1;
        
        
        label {
            color: $color-green;
            font-family: 'Karla', sans-serif;
            font-size: 16px;
            text-align: center;


        }

        p {
            color: $color-gray;
            font-family: 'Karla', sans-serif;
            font-size: 14px;

        }
    }
}

.library-course-selected{
    @include klasses-options();
}