.schedule{
    display: grid;
    grid-template-rows: 230px repeat(5, 60px) [progress-s] 1fr [progress-e];
    grid-row-gap: 22px;
    
    grid-column: schedule-s/schedule-e;
    grid-row: 1/-1;
    position: relative;
    height: 100%;
    width: 100%;
 
    align-items: center;
    justify-items: center;
    align-content: center;
    

    &-title{
        margin-top: 150px;
        border-left: 2px solid #fafafa;
        color: #fafafa;
        font-family: 'Slabo 27px', serif;
        font-size: 28px;
        padding-left: 30px;
        padding-top: 6px;
        padding-bottom: 6px;
        

    }
}